<section class="section section-breadcrumb">
    <div class="w-layout-blockcontainer container w-container">
        <div class="breadcrumb-info-block">
            <h1 class="breadcrumb-title">
                Blog
            </h1>
            <div class="breadcrumb-bottom-info">
                <a href="/" class="breadcrumb-link-block w-inline-block">
                    <div class="breadcrumb-item">
                        <div class="breadcrumb-icon">
                            
                        </div>
                        <div class="breadcrumb-page-name">
                            Home
                        </div>
                        <div class="breadcrumb-icon">
                            
                        </div>
                    </div>
                </a>
                <a href="/blog" aria-current="page" class="breadcrumb-link-block last w-inline-block w--current">
                    <div class="breadcrumb-item">
                        <div class="breadcrumb-page-name">
                            Blog
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section section-blog-style-two">
    <div class="w-layout-blockcontainer container w-container">
        <div class="section-title-box text-center">
            <h2 class="section-title">
                Constructive Design Discourse
            </h2>
        </div>
        <div class="blog-list-wrapper w-dyn-list">
            <div role="list" class="blog-grid w-dyn-items">
                <div role="listitem" class="blog-item w-dyn-item">
                    <div data-w-id="350a8b42-97bf-3064-568d-c60de69c970b" class="blog-post-style-two">
                        <div class="blog-post-image-block">
                            <a href="/post/construction-mastery-pro-insights" class="blog-post-image-link-block w-inline-block">
                                <img alt="" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                     src="~/images/s/1-24.png" sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 670px"
                                     srcset="images/1-p-500-9.png 500w, images/1-p-800-5.png 800w, images/1-p-1080-3.png 1080w, images/1-24.png 1300w"
                                     class="blog-image" />
                                <div class="blog-date positioned">
                                    January 13, 2024
                                </div>
                            </a>
                        </div>
                        <div class="blog-post-details">
                            <a href="/post/construction-mastery-pro-insights" class="blog-post-title-link-block w-inline-block">
                                <h3 style="color:rgb(0,33,85)" class="blog-post-title">
                                    Construction Mastery Pro Insights
                                </h3>
                            </a>
                            <a href="/post/construction-mastery-pro-insights" class="button-primary w-inline-block">
                                <div class="button-text">
                                    Read More
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="blog-item w-dyn-item">
                    <div data-w-id="350a8b42-97bf-3064-568d-c60de69c970b" class="blog-post-style-two">
                        <div class="blog-post-image-block">
                            <a href="/post/tomorrows-trends-in-building" class="blog-post-image-link-block w-inline-block">
                                <img alt="" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                     src="~/images/s/2-16.png" sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 670px"
                                     srcset="~/images/2-p-500-5.png 500w, images/2-p-800-2.png 800w, images/2-p-1080.png 1080w, images/2-16.png 1300w"
                                     class="blog-image" />
                                <div class="blog-date positioned">
                                    January 13, 2024
                                </div>
                            </a>
                        </div>
                        <div class="blog-post-details">
                            <a href="/post/tomorrows-trends-in-building" class="blog-post-title-link-block w-inline-block">
                                <h3 style="color:rgb(0,33,85)" class="blog-post-title">
                                    Tomorrow&#x27;s Trends in Building
                                </h3>
                            </a>
                            <a href="/post/tomorrows-trends-in-building" class="button-primary w-inline-block">
                                <div class="button-text">
                                    Read More
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="blog-item w-dyn-item">
                    <div data-w-id="350a8b42-97bf-3064-568d-c60de69c970b" class="blog-post-style-two">
                        <div class="blog-post-image-block">
                            <a href="/post/concrete-innovations" class="blog-post-image-link-block w-inline-block">
                                <img alt="" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                     src="~/images/s/4-10.png" sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 670px"
                                     srcset="~/images/4-p-500-3.png 500w, images/4-p-800-1.png 800w, images/4-p-1080.png 1080w, images/4-10.png 1300w"
                                     class="blog-image" />
                                <div class="blog-date positioned">
                                    January 13, 2024
                                </div>
                            </a>
                        </div>
                        <div class="blog-post-details">
                            <a href="/post/concrete-innovations" class="blog-post-title-link-block w-inline-block">
                                <h3 style="color:rgb(0,33,85)" class="blog-post-title">
                                    Concrete Innovations
                                </h3>
                            </a>
                            <a href="/post/concrete-innovations" class="button-primary w-inline-block">
                                <div class="button-text">
                                    Read More
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="blog-item w-dyn-item">
                    <div data-w-id="350a8b42-97bf-3064-568d-c60de69c970b" class="blog-post-style-two">
                        <div class="blog-post-image-block">
                            <a href="/post/green-build-practices" class="blog-post-image-link-block w-inline-block">
                                <img alt="" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                     src="~/images/s/5-4.png" sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 48vw, 670px"
                                     srcset="~/images/5-p-500-1.png 500w, images/5-p-800.png 800w, images/5-p-1080.png 1080w, images/5-4.png 1300w"
                                     class="blog-image" />
                                <div class="blog-date positioned">
                                    January 13, 2024
                                </div>
                            </a>
                        </div>
                        <div class="blog-post-details">
                            <a href="/post/green-build-practices" class="blog-post-title-link-block w-inline-block">
                                <h3 style="color:rgb(0,33,85)" class="blog-post-title">
                                    Green Build Practices
                                </h3>
                            </a>
                            <a href="/post/green-build-practices" class="button-primary w-inline-block">
                                <div class="button-text">
                                    Read More
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div role="navigation" aria-label="List" class="w-pagination-wrapper blog-pagination">
                <a href="?f59ca0c0_page=2" aria-label="Next Page" class="w-pagination-next blog-pagination-next-button">
                    <div class="blog-pagination-next-text w-inline-block">
                        Next
                    </div>
                    <div class="blog-pagination-next-icon">
                        
                    </div>
                </a>
                <link rel="prerender" href="?f59ca0c0_page=2" />
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <div class="w-layout-grid footer-grid">
        <div id="w-node-_944c8b90-d166-5bcd-a033-c1482d350ad5-2d350ad3" class="main-footer-block">
            <div id="w-node-_944c8b90-d166-5bcd-a033-c1482d350ad6-2d350ad3" class="inner-footer-block">
                <h1 class="footer-title">
                    LET&#x27;S OPTIMIZE YOUR SUPPLY CHAIN
                </h1>
            </div>
            <div id="w-node-_944c8b90-d166-5bcd-a033-c1482d350ad9-2d350ad3" class="image-footer-block">
                <div id="w-node-_944c8b90-d166-5bcd-a033-c1482d350ada-2d350ad3" class="footer-info-block">
                    <div class="footer-inner-info">
                        <a href="/" class="footer-logo-link-block w-inline-block">
                            <img src="~/images/logo.png" loading="lazy" width="243.5" alt="footer-image"
                                 class="footer-logo-image" />
                        </a>
                        <a href="tel:+18001234567890" class="footer-contact">
                            +1800 123 4567890
                        </a>
                        <a href="mailto:peacefulqode@gmail.com" class="footer-email">
                            hello@gmail.com
                        </a>
                    </div>
                </div>
                <div id="w-node-_944c8b90-d166-5bcd-a033-c1482d350ae2-2d350ad3" class="footer-link-block">
                    <div class="footer-inner-link">
                        <ul role="list" class="footer-link-list">
                            <li class="footer-inner-listitem">
                                <a href="/about-us" class="footer-link">
                                    About Us
                                </a>
                            </li>
                            <li class="footer-inner-listitem">
                                <a href="/brand-guidelines/style-guide" class="footer-link">
                                    Style Guide
                                </a>
                            </li>
                            <li class="footer-inner-listitem">
                                <a href="/brand-guidelines/licenses" class="footer-link">
                                    Licenses
                                </a>
                            </li>
                            <li class="footer-inner-listitem last">
                                <a href="/brand-guidelines/changelog" class="footer-link">
                                    Changelog
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="w-node-_944c8b90-d166-5bcd-a033-c1482d350af1-2d350ad3" class="footer-media-block">
                    <div class="inner-footer-media">
                        <ul role="list" class="footer-media-list">
                            <li class="footer-media-listitem">
                                <a href="https://www.facebook.com/" class="footer-media-link">
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-media-listitem">
                                <a href="https://www.instagram.com/" class="footer-media-link">
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-media-listitem">
                                <a href="https://www.youtube.com/" class="footer-media-link">
                                    Youtube
                                </a>
                            </li>
                            <li class="footer-media-listitem last">
                                <a href="https://in.linkedin.com/" class="footer-media-link">
                                    Linkedin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="w-node-_944c8b90-d166-5bcd-a033-c1482d350b00-2d350ad3" class="footer-image-block">
            <img src="~/images/s/1-11.png" loading="lazy" height="" alt="footer-image"
                 sizes="100vw" srcset="~/images/1-p-500-2.png 500w, images/1-11.png 731w"
                 class="footer-image" />
            <img src="~/images/s/text-201.png" loading="lazy" width="160" alt="Footer Vector Image"
                 class="footer-floating-image" />
        </div>
    </div>
    <div class="footer-copyright">
        <div class="footer-copyright-text">
            © Powered by
            <a href="https://webflow.com/" target="_blank" class="footer-copyright-link">
                Webflow
            </a>
            created by
            <a href="https://peacefulqode.com/" target="_blank" class="footer-copyright-link">
                PeacefulQode
            </a>
            .
        </div>
    </div>
</div>