<section class="section section-banner">
    <div class="w-layout-blockcontainer container-fluid w-container">
        <div class="w-layout-grid banner-grid">
            <div id="w-node-_633da09e-c9f6-e3df-bafa-00f2209059c3-0ea75761" class="banner-grid-left-side">
                <h1 class="banner-title">
                    Empowering Your Building Vision
                </h1>
                <p class="banner-paragraph">
                    Discover precision and innovation in our Construction Excellence Toolbox—a
                    one-stop resource for building brilliance. Unleash your project&#x27;s
                    potential and achieve construction excellence with our curated tools.
                </p>
                <a href="/about-us" class="button-primary outline w-inline-block">
                    <div class="button-text">
                        Read More
                    </div>
                </a>
            </div>
            <div id="w-node-f25c82f7-8dec-c1be-e220-53b78d3b6bb9-0ea75761" class="banner-grid-right-side">
                <img src="images/rectangle-20264.png" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 991px) 96vw, 739px"
                     alt="Banner Image" width="739" srcset="images/rectangle-20264-p-500.png 500w, images/rectangle-20264-p-800.png 800w, images/rectangle-20264-p-1080.png 1080w, images/rectangle-20264.png 1478w"
                     class="banner-first-image" />
                <img src="images/rectangle-20265.png" loading="lazy" sizes="(max-width: 767px) 100vw, 418px"
                     alt="Banner Image" width="418" srcset="images/rectangle-20265-p-500.png 500w, images/rectangle-20265.png 836w"
                     class="banner-image-two" />
                <img src="images/text-201.png" loading="lazy" width="160" alt="Banner Image"
                     class="banner-image-three" />
            </div>
        </div>
    </div>
</section>
<section class="section section-service">
    <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-grid services-grid">
            <div id="w-node-_27a0c0ad-790b-a136-b73e-3f4db6afd3d1-0ea75761" class="service-grid-left-side">
                <div class="section-title-box">
                    <h2 class="section-title">
                        Our Construction Services
                    </h2>
                    <p class="section-description">
                        Vestibulum nec sapien ante. Lorem apsumUt pharetra neque vitae orcick
                        hendrerit pharetra. In hac habitasse platea dictumst.
                    </p>
                </div>
                <div class="service-grid-button">
                    <a href="/services" class="button-primary w-inline-block">
                        <div class="button-text">
                            Read More
                        </div>
                    </a>
                </div>
            </div>
            <div id="w-node-_00a645c5-9997-339c-83db-ab00d5f7f91b-0ea75761" class="service-grid-right-side">
                <div class="service-list-wrapper w-dyn-list">
                    <div role="list" class="service-list w-dyn-items">
                        <div role="listitem" class="service-item w-dyn-item">
                            <div data-w-id="ba51e6e7-17ba-f0a9-aa23-69ee75ea522c" class="service-box">
                                <div id="w-node-_602a8c7f-2488-6b3c-2674-1f0c8315b005-0ea75761" class="service-box-vector-block">
                                    <a href="/services/pre-construction-planning" class="service-box-link-block w-inline-block">
                                        <img alt="Service Box Vector" loading="lazy" src="images/1-3.png" width="70"
                                             class="service-box-vector-image" />
                                    </a>
                                </div>
                                <div id="w-node-_23664d5e-77ea-6105-1197-7f52979747e6-0ea75761" class="service-box-details">
                                    <a href="/services/pre-construction-planning" class="service-box-link-block w-inline-block">
                                        <h3 class="service-box-title-style-two">
                                            Pre-construction Planning
                                        </h3>
                                    </a>
                                </div>
                                <div id="w-node-_66441eb6-8ecd-d82d-7fa1-2354336d2fb3-0ea75761" class="service-box-link">
                                    <a href="/services/pre-construction-planning" class="service-box-link-block w-inline-block">
                                        <img alt="Service Box Link Image" loading="lazy" width="70" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d"
                                             src="images/1-4.png" class="service-box-link-image" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="service-item w-dyn-item">
                            <div data-w-id="ba51e6e7-17ba-f0a9-aa23-69ee75ea522c" class="service-box">
                                <div id="w-node-_602a8c7f-2488-6b3c-2674-1f0c8315b005-0ea75761" class="service-box-vector-block">
                                    <a href="/services/renovation-and-remodeling" class="service-box-link-block w-inline-block">
                                        <img alt="Service Box Vector" loading="lazy" src="images/2-1.png" width="70"
                                             class="service-box-vector-image" />
                                    </a>
                                </div>
                                <div id="w-node-_23664d5e-77ea-6105-1197-7f52979747e6-0ea75761" class="service-box-details">
                                    <a href="/services/renovation-and-remodeling" class="service-box-link-block w-inline-block">
                                        <h3 class="service-box-title-style-two">
                                            Renovation and Remodeling
                                        </h3>
                                    </a>
                                </div>
                                <div id="w-node-_66441eb6-8ecd-d82d-7fa1-2354336d2fb3-0ea75761" class="service-box-link">
                                    <a href="/services/renovation-and-remodeling" class="service-box-link-block w-inline-block">
                                        <img alt="Service Box Link Image" loading="lazy" width="70" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d"
                                             src="images/1-4.png" class="service-box-link-image" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="service-item w-dyn-item">
                            <div data-w-id="ba51e6e7-17ba-f0a9-aa23-69ee75ea522c" class="service-box">
                                <div id="w-node-_602a8c7f-2488-6b3c-2674-1f0c8315b005-0ea75761" class="service-box-vector-block">
                                    <a href="/services/interior-fit-outs" class="service-box-link-block w-inline-block">
                                        <img alt="Service Box Vector" loading="lazy" src="images/3.png" width="70"
                                             class="service-box-vector-image" />
                                    </a>
                                </div>
                                <div id="w-node-_23664d5e-77ea-6105-1197-7f52979747e6-0ea75761" class="service-box-details">
                                    <a href="/services/interior-fit-outs" class="service-box-link-block w-inline-block">
                                        <h3 class="service-box-title-style-two">
                                            Interior Fit-Outs
                                        </h3>
                                    </a>
                                </div>
                                <div id="w-node-_66441eb6-8ecd-d82d-7fa1-2354336d2fb3-0ea75761" class="service-box-link">
                                    <a href="/services/interior-fit-outs" class="service-box-link-block w-inline-block">
                                        <img alt="Service Box Link Image" loading="lazy" width="70" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0, 0);transform-style:preserve-3d"
                                             src="images/1-4.png" class="service-box-link-image" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="marquee-block">
        <div style="-webkit-transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
             class="marquee">
            <h3 class="marquee-title">
                Interior -
            </h3>
            <h3 class="marquee-title">
                Construction -
            </h3>
            <h3 class="marquee-title">
                Services -
            </h3>
            <h3 class="marquee-title">
                Architecture -
            </h3>
            <h3 class="marquee-title">
                BluePrint -
            </h3>
            <h3 class="marquee-title">
                Infrastructure -
            </h3>
            <h3 class="marquee-title">
                Remodeling -
            </h3>
            <h3 class="marquee-title">
                Green Building -
            </h3>
        </div>
    </div>
</section>
<section class="section section-aboutus">
    <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-grid aboutus-grid">
            <div id="w-node-bd708526-20d9-0ba1-18b6-4f33d14681f0-0ea75761" class="aboutus-image-block">
                <img src="images/draw-20house.png" loading="lazy" sizes="100vw" srcset="images/draw-20house-p-500.png 500w, images/draw-20house-p-800.png 800w, images/draw-20house.png 1293w"
                     alt="aboutus-image" class="aboutus-image" />
            </div>
            <div id="w-node-_4b6fce54-3ee1-d1cb-f8f7-7877a7d84376-0ea75761" class="aboutus-info-block">
                <div class="section-title-box">
                    <h2 class="section-title">
                        WHY ARE DIFFERENT Than other
                    </h2>
                    <p class="section-description">
                        Vestibulum nec sapien ante. Lorem apsumUt pharetra neque vitae orcick
                        hendrerit pharetra. In hac habitasse platea dictumst.
                    </p>
                </div>
                <div class="aboutus-info">
                    <p class="aboutus-description">
                        There are many variations of passages of Lorem Ipsum available, but the
                        majority have suffered alteration in some form, by injected humour, or
                        randomised words which don&#x27;t look even
                    </p>
                    <div class="service-grid-button">
                        <a href="/about-us" class="button-primary w-inline-block">
                            <div class="button-text">
                                Read More
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-project">
    <img src="images/2-2.png" loading="lazy" width="730" sizes="(max-width: 1919px) 100vw, 730px"
         alt="Project Section Vector" srcset="images/2-p-500.png 500w, images/2-p-800.png 800w, images/2-2.png 1460w"
         class="project-section-vector-one" />
    <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-grid project-section-grid">
            <div id="w-node-_3da211e2-dc32-1a8e-6255-b869475999f3-0ea75761" class="project-section-grid-left">
                <div class="sticky-block">
                    <div class="section-title-box">
                        <h2 class="section-title">
                            WHY ARE DIFFERENT Than other
                        </h2>
                        <p class="section-description">
                            Vestibulum nec sapien ante. Lorem apsumUt pharetra neque vitae orcick
                            hendrerit pharetra. In hac habitasse platea dictumst.
                        </p>
                    </div>
                    <div class="sticky-button-block">
                        <a href="/portfolio" class="button-primary w-inline-block">
                            <div class="button-text">
                                Read More
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="w-node-_4ac9401f-2603-67a2-92dd-611ac4eba5f6-0ea75761" class="project-section-grid-right">
                <div class="project-list-wrapper w-dyn-list">
                    <div role="list" class="project-list w-dyn-items">
                        <div role="listitem" class="project-item w-dyn-item">
                            <div data-w-id="ae075c84-e7b0-9c01-b0cf-ee8d8aec9f29" class="project-box">
                                <div class="project-image-block">
                                    <a href="/project/urban-oasis" class="project-image-link-block w-inline-block">
                                        <img alt="Portfolio Image" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                             src="images/1-5.png" class="project-image" />
                                    </a>
                                </div>
                                <div class="project-detail-block">
                                    <a href="/project/urban-oasis" class="project-title-link-block w-inline-block">
                                        <h3 class="project-title">
                                            Urban Oasis
                                        </h3>
                                    </a>
                                    <a href="/project/urban-oasis" class="project-sub-title-link-block w-inline-block">
                                        <div class="project-sub-title">
                                            Residential Construction
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="project-item w-dyn-item">
                            <div data-w-id="ae075c84-e7b0-9c01-b0cf-ee8d8aec9f29" class="project-box">
                                <div class="project-image-block">
                                    <a href="/project/skyline-horizons" class="project-image-link-block w-inline-block">
                                        <img alt="Portfolio Image" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                             src="images/2-3.png" class="project-image" />
                                    </a>
                                </div>
                                <div class="project-detail-block">
                                    <a href="/project/skyline-horizons" class="project-title-link-block w-inline-block">
                                        <h3 class="project-title">
                                            Skyline Horizons
                                        </h3>
                                    </a>
                                    <a href="/project/skyline-horizons" class="project-sub-title-link-block w-inline-block">
                                        <div class="project-sub-title">
                                            Mixed-Use Development
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="project-item w-dyn-item">
                            <div data-w-id="ae075c84-e7b0-9c01-b0cf-ee8d8aec9f29" class="project-box">
                                <div class="project-image-block">
                                    <a href="/project/foundation-heights" class="project-image-link-block w-inline-block">
                                        <img alt="Portfolio Image" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                             src="images/3-1.png" class="project-image" />
                                    </a>
                                </div>
                                <div class="project-detail-block">
                                    <a href="/project/foundation-heights" class="project-title-link-block w-inline-block">
                                        <h3 class="project-title">
                                            Foundation Heights
                                        </h3>
                                    </a>
                                    <a href="/project/foundation-heights" class="project-sub-title-link-block w-inline-block">
                                        <div class="project-sub-title">
                                            Commercial Construction
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div role="listitem" class="project-item w-dyn-item">
                            <div data-w-id="ae075c84-e7b0-9c01-b0cf-ee8d8aec9f29" class="project-box">
                                <div class="project-image-block">
                                    <a href="/project/rural-retreat" class="project-image-link-block w-inline-block">
                                        <img alt="Portfolio Image" loading="lazy" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                             src="images/4.png" class="project-image" />
                                    </a>
                                </div>
                                <div class="project-detail-block">
                                    <a href="/project/rural-retreat" class="project-title-link-block w-inline-block">
                                        <h3 class="project-title">
                                            Rural Retreat
                                        </h3>
                                    </a>
                                    <a href="/project/rural-retreat" class="project-sub-title-link-block w-inline-block">
                                        <div class="project-sub-title">
                                            Residential Construction
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="marquee-block">
        <div style="-webkit-transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
             class="marquee">
            <h3 class="marquee-title">
                Interior -
            </h3>
            <h3 class="marquee-title">
                Construction -
            </h3>
            <h3 class="marquee-title">
                Services -
            </h3>
            <h3 class="marquee-title">
                Architecture -
            </h3>
            <h3 class="marquee-title">
                BluePrint -
            </h3>
            <h3 class="marquee-title">
                Infrastructure -
            </h3>
            <h3 class="marquee-title">
                Remodeling -
            </h3>
            <h3 class="marquee-title">
                Green Building -
            </h3>
        </div>
    </div>
</section>
<section class="section section-counter">
    <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-grid counter-section-grid">
            <div id="w-node-_93f827f8-4891-0024-6983-d70a2bef4dd1-0ea75761" class="counter-grid-left-side">
                <div class="section-title-box">
                    <h2 class="section-title text-white">
                        WHY ARE DIFFERENT Than other
                    </h2>
                    <p class="section-description text-white">
                        Vestibulum nec sapien ante. Lorem apsumUt pharetra neque vitae orcick
                        hendrerit pharetra. In hac habitasse platea dictumst.
                    </p>
                </div>
                <p class="counter-section-description text-white">
                    There are many variations of passages of Lorem Ipsum available, but the
                    majority have suffered alteration in some form, by injected humour, or
                    randomised words which don&#x27;t look even
                </p>
            </div>
            <div id="w-node-eb865bde-07ea-0581-7738-1be93b2d0731-0ea75761" class="counter-grid-right-side">
                <div class="w-layout-grid counter-grid">
                    <div id="w-node-_5ae6ddfa-212e-4744-26c5-25079df12947-0ea75761" class="counter-box one">
                        <div class="counter-number-block">
                            <h3 class="counter-title">
                                32k
                            </h3>
                        </div>
                        <div class="counter-details-block">
                            <h4 class="counter-sub-title">
                                Projects Done
                            </h4>
                        </div>
                    </div>
                    <div id="w-node-_452b293d-5446-78f8-6c9b-ef760f52a15b-0ea75761" class="counter-box two">
                        <div class="counter-number-block">
                            <h3 class="counter-title">
                                25+
                            </h3>
                        </div>
                        <div class="counter-details-block">
                            <h4 class="counter-sub-title">
                                Happy Clients
                            </h4>
                        </div>
                    </div>
                    <div id="w-node-_9deee7a1-6f88-c1f2-50ba-eec58ff24450-0ea75761" class="counter-image-block">
                        <img src="images/1-6.png" loading="lazy" alt="Counter Image" class="counter-image" />
                    </div>
                    <div id="w-node-_5f23bc4f-387c-ac9c-0804-82bc6fdf7d17-0ea75761" class="counter-image-block">
                        <img src="images/2-4.png" loading="lazy" alt="Counter Image" class="counter-image" />
                    </div>
                    <div id="w-node-_959aea03-f7a0-4d46-e978-5457a4e4ddf3-0ea75761" class="counter-box three">
                        <div class="counter-number-block">
                            <h3 class="counter-title">
                                10m
                            </h3>
                        </div>
                        <div class="counter-details-block">
                            <h4 class="counter-sub-title">
                                Drilling field
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-w-id="8e6da475-28e2-b7af-a223-b81c79bca720" class="section section-team">
    <div class="sticky-section">
        <div class="w-layout-blockcontainer container w-container">
            <div class="w-layout-grid team-section-grid">
                <div id="w-node-e783f66c-488f-c520-f4c6-2b61cfcc6814-0ea75761" class="team-section-grid-left">
                    <img src="images/1-7.png" loading="lazy" width="253.5" alt="Team image"
                         class="team-image one" />
                    <img src="images/2-5.png" loading="lazy" width="286" alt="Team Image"
                         class="team-image two" />
                </div>
                <div id="w-node-_064bf17e-ad6a-e09d-bcd9-ce6e59a4ea55-0ea75761" class="team-section-grid-center">
                    <div class="section-title-box team-title-box">
                        <h2 class="section-title">
                            Constro Best Team Than other
                        </h2>
                        <p class="section-description team-title-description">
                            Vestibulum nec sapien to ante. Lorem apsum Ut pharetra the neque vitae
                            orcick hendrerit pharetra
                        </p>
                    </div>
                </div>
                <div id="w-node-_249e3222-f319-1298-3bbf-1d94479b854f-0ea75761" class="team-section-grid-right">
                    <img src="images/3-2.png" loading="lazy" width="240" alt="Team Image"
                         class="team-image three" />
                    <img src="images/4-1.png" loading="lazy" width="286" alt="Team Image"
                         class="team-image four" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-testimonial">
    <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-grid testimonial-grid">
            <div id="w-node-_6c2de966-04a6-4fd4-2860-ff538a991015-0ea75761" class="testimonial-grid-left-side">
                <div class="section-title-box">
                    <h2 class="section-title">
                        What Our Clients Say About us
                    </h2>
                </div>
            </div>
            <div id="w-node-_6878865d-0dc6-8895-ab34-4f536b4a5940-0ea75761" class="testimonial-grid-right-side">
                <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider"
                     data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false"
                     data-autoplay-limit="0" data-nav-spacing="0" data-duration="500" data-infinite="true">
                    <div class="w-slider-mask">
                        <div class="testimonial-slide w-slide">
                            <div class="testimonial-box">
                                <p class="client-reivew">
                                    Exceptional experience with Architeck! From start to finish, their team
                                    demonstrated professionalism, clear communication, and top-notch expertise.
                                    The project was completed on time, and the construction crew&#x27;s attention
                                    to detail exceeded our expectations. Architeck is our go-to for quality
                                    construction work. Highly recommended!
                                </p>
                                <div class="client-rate-icon-block">
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h3 class="client-name">
                                        Alex Jhon Martin
                                    </h3>
                                    <div class="client-sub-name">
                                        Happy Customer
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-slide w-slide">
                            <div class="testimonial-box">
                                <p class="client-reivew">
                                    Our construction journey with Architeck was outstanding. From project
                                    initiation to completion, the team showcased unwavering professionalism
                                    and skill. Timely delivery, meticulous craftsmanship, and clear communication
                                    made our experience seamless. Architeck is undoubtedly our preferred choice
                                    for future projects.
                                </p>
                                <div class="client-rate-icon-block">
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h3 class="client-name">
                                        Alex Jhon Martin
                                    </h3>
                                    <div class="client-sub-name">
                                        Happy Customer
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-slide w-slide">
                            <div class="testimonial-box">
                                <p class="client-reivew">
                                    Choosing Architeck for our construction needs was a wise decision. The
                                    entire process, guided by their knowledgeable team, was a testament to
                                    their commitment to excellence. From concept to completion, they delivered
                                    on time with precision and expertise. For anyone seeking a reliable construction
                                    partner, Architeck is the go-to choice.
                                </p>
                                <div class="client-rate-icon-block">
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                    <div class="client-rate-icon">
                                        
                                    </div>
                                </div>
                                <div class="client-details">
                                    <h3 class="client-name">
                                        Alex Jhon Martin
                                    </h3>
                                    <div class="client-sub-name">
                                        Happy Customer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="left-arrow-icon w-slider-arrow-left">
                        <img src="images/1-8.png" loading="lazy" width="36" alt="Slider Left Nav Image"
                             class="testimonial-left-icon" />
                    </div>
                    <div class="right-arrow-icon w-slider-arrow-right">
                        <img src="images/2-6.png" loading="lazy" width="36" alt="Slider Right Nav Image"
                             class="testimonial-right-icon" />
                    </div>
                    <div class="slide-nav w-slider-nav">
                    </div>
                </div>
            </div>
        </div>
        <div class="video-popup">
            <a href="#" class="video-button w-inline-block w-lightbox">
                <img src="images/text-201.png" loading="lazy" width="160" alt="Video Popup Button Image"
                     class="video-button-image" />
                <script type="application/json" class="w-json">
                    {
                      "items": [{
                        "url": "https://www.youtube.com/watch?v=ckFIeWsbTsg",
                        "originalUrl": "https://www.youtube.com/watch?v=ckFIeWsbTsg",
                        "width": 940,
                        "height": 528,
                        "thumbnailUrl": "https://i.ytimg.com/vi/ckFIeWsbTsg/hqdefault.jpg",
                        "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FckFIeWsbTsg%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DckFIeWsbTsg&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FckFIeWsbTsg%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
                        "type": "video"
                      }],
                      "group": ""
                    }
                </script>
            </a>
        </div>
    </div>
    <div class="marquee-block">
        <div style="-webkit-transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0vw, null, null) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
             class="marquee">
            <h3 class="marquee-title">
                Interior -
            </h3>
            <h3 class="marquee-title">
                Construction -
            </h3>
            <h3 class="marquee-title">
                Services -
            </h3>
            <h3 class="marquee-title">
                Architecture -
            </h3>
            <h3 class="marquee-title">
                BluePrint -
            </h3>
            <h3 class="marquee-title">
                Infrastructure -
            </h3>
            <h3 class="marquee-title">
                Remodeling -
            </h3>
            <h3 class="marquee-title">
                Green Building -
            </h3>
        </div>
    </div>
</section>