<section class="section section-contact">
    <img src="~/images/1-9.png" loading="lazy" width="407.5" sizes="(max-width: 1919px) 100vw, 407.5px"
         alt="Contact Section Vector" srcset="~/images/1-p-500.png 500w, images/1-9.png 815w"
         class="contact-section-vector-one" />
    <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-grid contact-us-grid">
            <div id="w-node-_292ddc7f-4015-8dfb-ea7a-d6779361514b-0ea75761" class="contact-us-grid-left-side">
                <div class="contact-form-block">
                    <h3 class="contact-form-title">
                        Login
                    </h3>
                    <div class="form">
                        <form asp-action="Login" asp-controller="Home"  method="post">
                            <div class="contact-form" data-wf-page-id="659b713b094eaac10ea75761" data-wf-element-id="c57e3741-9255-133c-abff-7afe4a5060c5"></div>
                            <div class="field-block">
                                <input class="input-field w-input" maxlength="256" name="username" data-name="Name"
                                       placeholder="Name" type="username" />
                            </div>
                            <div class="field-block">
                                <input class="input-field w-input" maxlength="256" name="Password" data-name="Password"
                                       placeholder="Password" type="password" required="" />
                            </div>
                            <div class="field-block">
                                <input class="input-field w-input" maxlength="256" name="phoneNumber" data-name="phoneNumber"
                                       placeholder="phoneNumber" type="phoneNumber" required="" />
                            </div>
                            <div class="form-button-block">
                                <input type="hidden" name="ReturnUrl" value="@((string)ViewBag.ReturnUrl ?? "?ReturnUrl=%2F")" />
                                <input type="submit" data-wait="Please wait..." class="submit-button w-button"
                                       value="HIT US UP" />
                            </div>
                        </form>
                        <div class="w-form-done">
                            <div>
                                Thank you! Your submission has been received!
                            </div>
                        </div>
                        <div class="w-form-fail">
                            <div>
                                Oops! Something went wrong while submitting the form.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>